@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    background-color: #EBCBD4 ;
    color: #BD1341 ;
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 7%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 3rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.1rem;
    color:#BD1341 ;
}

.header .navbar a:hover{
    border-bottom: .1rem solid #BD1341;
    padding-bottom: .5rem;
}

.header .icons div{
    color:#BD1341;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:#A34C64  ;
}

.home .d{
background: #A34C64;
width: 70%;
height: auto;
}

