@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    background-color: #EBCBD4;
}

body{
    color:  #EBCBD4;
}

img{
    height:100px;
    width:100px;
}

section{
    padding:2rem 9%;
    background-color: #EBCBD4;
}
h3{
    
    text-align:center;
}



section:nth-child(even){
    background:#eee;
}


.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:1.5rem;
    background: #EBCBD4;
}

.menu .box-container .box{
    border:.2rem solid #BD1341;
    border-radius: .5rem;  
    align-items: center; 
}

/* .menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
} */

.menu .box-container .box  img{
    padding: 5px;
    height: 100px;
    width: 120px;
    border-radius: .5rem;
    object-fit: cover;
}

/* .menu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    background-color: var(--green);
    color:#fff;
}

.menu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
   font-size: 1.7rem;
   color:var(--green);
} */

.menu .box-container .box .content h3{
    color:var(--black);
    font-size: 2.5rem;
}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color:var(--green);
    margin-left: 1rem;
    font-size: 2.5rem;
}

.lrbtn{
    align-items: center;
    font-size: 10px;
    width: 80px;
    background:#BD1341 ;
    border-radius: 20px;
    margin-right: 10px;
    border: 1px solid #BD1341;
    position: relative;
    display: inline-block;
    justify-content: space-between;
    color: #fff;
    padding: 8px 4px;
}


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}


/*
.cart{
    width:250px;
    float:right;
    text-align: center;
    border:1px solid black;
    overflow-y:scroll;
    height: 100%;
    background-color: black;
}
.cartImg{
    width:200px;
}
*/


