* {
	margin: 0;
	padding: 0;
    background: #EBCBD4;text-decoration: none;
}
body {
	font-family: 'Roboto', cursive;
}
.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
}

.banner-text .regimage{
	margin-top:150px ;
	margin-left: 50px;
}

.div1{
    width: 35%;
    height: 70%;
    justify-content: center;
	margin-top: 100px;
	margin-left: 50px;
    border-radius: 140px;
}
.div1 h1{
	padding-bottom: 30px;
}

.div1 .form{
    padding: 50px;
	align-items: center;
    justify-content: center;
	margin-right: 40px;
	background: rgba(255,255,255,0.1);
	box-shadow: 0px 5px 35px rgba(0,0,0,0.2);
}

button{
    background: #BD1341;
    border-radius: 8px;
    width: 100px;
	color: #ffff;
	opacity: 0.8;
    font-weight: bold;
    height: 40px;
}

button:hover{
    letter-spacing: 3px;
    width: 120px;
    height: 50px;
    font-weight: bold;
    background: #A34C64;
}

/* .banner-text .div1{
    width: 50%;
    height: 80%;
    z-index: 1;
    border: 2px solid #BD1341;
} */
/* .banner-text ul {
	height: 50px;
	float: right;
}
.banner-text ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
}
.banner-text ul li:hover {
	cursor: pointer;
}
.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 20%;
} */
/* .animation-area {
	width: 100%;
	height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background:#A34C64;
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
} */
